n8n workflows/Chat with Document.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2064,
        16
      ],
      "id": "e6100ba5-8e3a-4865-8cca-04530f30cf42",
      "name": "Webhook",
      "webhookId": "ff04fe31-dc33-42f4-8694-612ff013e037"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title, summary, content FROM notes\nORDER BY vector <=> $1\nLIMIT 5;",
        "options": {
          "queryReplacement": "=javascript {{ JSON.stringify($json.embedding) }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1376,
        16
      ],
      "id": "8016eb5f-06cc-4ba5-be30-6101012b91ef",
      "name": "Postgres: Find Similar Notes",
      "credentials": {
        "postgres": {
          "id": "5Wgi2JIG1voNhwEm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "b4183839-129f-42d5-b5da-8179f206c1e9",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama_cpu:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"mxbai-embed-large:latest\",\n    \"prompt\": $json.body.source\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1616,
        16
      ],
      "id": "a901829f-834c-4712-80bb-89f28c0c3bef",
      "name": "Ollama: Get Embeddings"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama_cpu:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.ollamaBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -640,
        16
      ],
      "id": "1ec07c5c-7a95-4607-9b83-f490cf05aebd",
      "name": "Ollama: Generate Answer",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\nconst aiResponseString = item.json.response;\nlet finalJson;\n\ntry {\n  // First, try to parse the response as if it's perfect JSON.\n  // This is the \"happy path\".\n  finalJson = JSON.parse(aiResponseString);\n\n} catch (error) {\n  // If parsing fails, it means the AI gave us plain text.\n  // This is the \"helpful AI\" path.\n  // We will build the JSON object ourselves.\n  finalJson = {\n    answer: aiResponseString, // Use the whole response as the answer\n    citations: [] // Since it's not JSON, we can't extract citations\n  };\n}\n\n// Return the final, clean JSON object.\nreturn [{ json: finalJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        16
      ],
      "id": "9e5fd722-17e0-46f6-92e0-05d7cf993fb7",
      "name": "Formate Final JSON"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31f16cc0-d670-4dc0-b8d3-2c7ddfd8fc2f",
              "name": "answer",
              "value": "={{ $json.answer }}",
              "type": "string"
            },
            {
              "id": "7d124cd8-6892-4aff-a42a-32273238d4af",
              "name": "prompt_online_search",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        144
      ],
      "id": "f8051a1c-2f8f-4337-bb14-5b1ab721aa0f",
      "name": "Set: Fallback Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "909408e7-0c32-45d2-a675-05ca68d9b1bf",
              "leftValue": "={{ $json.answer }}",
              "rightValue": "The context does not ",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        16
      ],
      "id": "1560256e-ec97-487b-a081-4f4cd9e17495",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const item = items[0];\n\nconst context = item.json.context_for_prompt;\nconst question = item.json.question;\nconst sourceId = item.json.source_id;\n\nconst prompt = `You are an expert research assistant. Answer the user's question using ONLY the provided context.\n\nRules:\n1. Provide a comprehensive, direct answer and answer should not be like a title.\n2. After the answer, include a \"Citations\" section.\n3. In \"Citations\", quote the exact, word-for-word sentence(s) from the context that support your answer.\n4. Append the citation number to each quote (e.g., [Citation 1]).\n5. Analyze the Question and Answer and verify that the question that is asked is answered in the answer\n6. If the answer **cannot be found in the context**, and ` + \"`source_id`\" + ` > 10, return:\n   {\n     \"answer\": \"No context found\",\n     \"citations\": []\n   }\n7. Do NOT use external knowledge, assumptions, or hallucinated facts.\n8. If the user asks to give Summary than provide him a detailed well structured summary of the context\n\nContext:\n${context}\n\nQuestion:\n${question}\n\nRespond STRICTLY in JSON format:\n{\n  \"answer\": \"<your detailed answer>\",\n  \"citations\": [\n     { \"quote\": \"<exact sentence from context + citation number>\", \"source_id_reference\": <ID> }\n  ]\n}`;\n\nitem.json.ollamaBody = JSON.stringify({\n  model: \"gemma:2b\",\n  stream: false,\n  prompt: prompt\n});\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        16
      ],
      "id": "014607b9-85a0-4e44-9e2e-ab6cd0993dc3",
      "name": "Build Final Prompt",
      "executeOnce": false
    },
    {
      "parameters": {
        "functionCode": "// 1. Get the original question from the Webhook\nconst originalQuestion = $('Webhook').item.json.body.question;\n\n// 2. Filter out duplicates and format\nconst seenContent = new Set();\nconst uniqueContextParts = [];\n\nfor (const item of items) {\n  const data = item.json;\n  \n  // Skip if we've already added this exact content or if content is missing\n  if (!data.content || seenContent.has(data.content)) continue;\n  \n  seenContent.add(data.content);\n\n  // Clean up \"undefined\" titles and handle formatting\n  const title = (data.title && data.title !== \"undefined\") ? data.title : \"Untitled Source\";\n  const summary = (data.summary && data.summary !== \"undefined\") ? `(Summary: ${data.summary})` : \"\";\n  \n  // Construct a clean block for this specific source\n  const sourceBlock = `---\nSOURCE ID: ${data.id}\nTITLE: ${title}\n${summary}\nCONTENT: ${data.content.trim()}\n---`;\n\n  uniqueContextParts.push(sourceBlock);\n}\n\n// 3. Combine everything into one string\nconst finalContext = uniqueContextParts.join('\\n\\n');\n\n// 4. Return the result for the AI node\nreturn [{\n  json: {\n    question: originalQuestion,\n    context_for_prompt: finalContext,\n    source_count: uniqueContextParts.length // Useful for debugging\n  }\n}];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1120,
        16
      ],
      "id": "28cb3f48-cdd2-473a-b37e-0e81adf25234",
      "name": "Function: Combine Context",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "779e8da5-08d1-460a-907d-a0d4352496f4",
              "name": "body.source",
              "value": "=In {{ $json.body.source }} give {{ $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        16
      ],
      "id": "fe3d0e61-48b1-4f34-9cbf-9b94c89dd4ec",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres: Find Similar Notes": {
      "main": [
        [
          {
            "node": "Function: Combine Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Get Embeddings": {
      "main": [
        [
          {
            "node": "Postgres: Find Similar Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Generate Answer": {
      "main": [
        [
          {
            "node": "Formate Final JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formate Final JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set: Fallback Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set: Fallback Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Prompt": {
      "main": [
        [
          {
            "node": "Ollama: Generate Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function: Combine Context": {
      "main": [
        [
          {
            "node": "Build Final Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ollama: Get Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59038d7a1c6ed5a617f636bfecfe4415beb3eda0565597319a942949c093d1c7"
  }
}