n8n workflows/Ingestion & Indexing.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ingest",
        "responseMode": "responseNode",
        "options": {
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1392,
        272
      ],
      "id": "d9272676-1de5-47a3-bdcc-d6d8444646f2",
      "name": "Webhook",
      "webhookId": "dfd42e18-1024-4625-b7bb-403de6315947"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        272,
        272
      ],
      "id": "0b5284e3-1277-456f-a06c-3e30968afcaa",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notes (title, summary, content, vector)\nVALUES (\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.summary.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  '{{ JSON.stringify($json.vector) }}'::vector\n)\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        288
      ],
      "id": "864901f6-1551-4e91-9b41-101c94c5ae31",
      "name": "Save to Postgres",
      "credentials": {
        "postgres": {
          "id": "5Wgi2JIG1voNhwEm",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1616,
        288
      ],
      "id": "acefa4da-2b09-4f60-a573-85f6a58393ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Function node — normalize text input into `content`\nfor (let i = 0; i < items.length; i++) {\n  const json = items[i].json || {};\n  let content = \"\";\n\n  // Several common places where plain text might arrive\n  if (typeof json.body === \"string\") {\n    content = json.body;\n  } else if (json.body && typeof json.body.note === \"string\") {\n    content = json.body.note;\n  } else if (typeof json.note === \"string\") {\n    content = json.note;\n  } else if (typeof json.text === \"string\") {\n    content = json.text;\n  } else if (json.body && Object.keys(json.body).length) {\n    // fallback: stringify small objects\n    try {\n      content = JSON.stringify(json.body);\n    } catch (e) {\n      content = \"\";\n    }\n  }\n\n  items[i].json.content = content;\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        576
      ],
      "id": "4e6fae96-86c4-46c6-a196-501b4e284500",
      "name": "Code1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -528,
        80
      ],
      "id": "e39a089b-52c1-4bc6-9093-a1ae0e788486",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c5bf80ac-2cf8-44df-bcf4-9b1274ebeada",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        64
      ],
      "id": "8b55285a-1bd9-4cad-a00c-583e223194d2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09043d92-19d7-4bcd-94a9-5ee0dd238475",
              "leftValue": "={{ $('Webhook').item.json.body.body.url }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        288
      ],
      "id": "24166fac-3c9a-406d-80c5-89d575b3ba6d",
      "name": "Check Content Type"
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML content directly from the JSON of the previous node\nconst htmlContent = $input.item.json.data;\n\n// Use the same regex to remove all HTML tags and clean up whitespace\nconst plainText = htmlContent.replace(/<[^>]*>/g, '').replace(/\\s\\s+/g, ' ').trim();\n\n// Return the result in the same format as the \"Extract from File\" node\nreturn { text: plainText };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        400
      ],
      "id": "81c07c9e-08c4-4d51-a0a8-f6782e495b92",
      "name": "Remove tags"
    },
    {
      "parameters": {
        "url": "=https://app.scrapingbee.com/api/v1/",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "api_key",
              "value": "CP2ZP8NHSBEMHF9KB29GMLIQ82OEBMLGHBMW8J70X0VHJLI55NT4FAWEQJ1NAHKMJHOZ7C5AW73EDA7A"
            },
            {
              "name": "url",
              "value": "={{ $json.body.body.url }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -736,
        288
      ],
      "id": "1dfdbf2a-bffc-4c04-aac3-7915e01faaf8",
      "name": "Fetch URL"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3c0e014-f72d-4d44-8358-8a4ee8c1c8d2",
              "name": "extracted_text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        288
      ],
      "id": "fa561800-a296-4430-a300-b5c358accaab",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -272,
        208
      ],
      "id": "5d1c532e-7d6d-48cd-8a48-8358047021fc",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80683829-8ac7-40db-ada5-7bcf0e0e3fa2",
              "name": "title",
              "value": "={{ JSON.parse($('Ollama: Get Metadata').item.json.response).title }}",
              "type": "string"
            },
            {
              "id": "dc7fb2a8-1e66-4fba-acc1-d4ebdacdf8be",
              "name": "summary",
              "value": "={{ JSON.parse($('Ollama: Get Metadata').item.json.response).summary }}",
              "type": "string"
            },
            {
              "id": "b4005ae2-cdab-483b-9ed7-416ee72dcbec",
              "name": "content",
              "value": "={{ $('Merge').item.json.content }}",
              "type": "string"
            },
            {
              "id": "c851a619-087a-4513-9001-7cd6fa7c7670",
              "name": "vector",
              "value": "={{ $json.embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        288
      ],
      "id": "a511c1a4-ab04-4f3d-a5a3-9a075b12d0c7",
      "name": "Combine AI Results"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "60ea87cb-4b16-4750-801f-eedb11d52169",
              "leftValue": "={{ $json.headers['content-type'] }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "application/pdf"
            },
            {
              "id": "39a9571d-0ff7-406a-be5e-d1581de2505d",
              "leftValue": "={{ $json.body.body.url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        272
      ],
      "id": "a64485c1-e125-48e1-8f9c-e3d5cf5b0d17",
      "name": "Check for File Upload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama_cpu:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"mxbai-embed-large:latest\",\n    \"prompt\": $json.content\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        384
      ],
      "id": "8ec128a0-14f3-4216-8b45-1415d8b8a0dc",
      "name": "Ollama: Get Embeddings"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b6343a1-7620-440b-8fe7-c2ef1ed43729",
              "leftValue": "={{ $json.headers['content-type'] }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -944,
        256
      ],
      "id": "20c10a95-5606-469a-9604-7898e201d3d8",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "let allChunks = [];\n\n// Loop through all incoming files/documents\nfor (const item of $input.all()) {\n  const text = item.json.content || \"\";\n  const sentences = text.match(/[^.!?]+[.!?]+/g) || [text];\n  \n  const chunkSize = 5; \n  for (let i = 0; i < sentences.length; i += chunkSize) {\n    const chunk = sentences.slice(i, i + chunkSize).join(' ').trim();\n    if (chunk) {\n      allChunks.push({\n        json: {\n          content: chunk,\n          // Pass through the original document ID or filename if you have it\n          source_info: item.json.title || \"Unknown Source\" \n        }\n      });\n    }\n  }\n}\n\nreturn allChunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        384
      ],
      "id": "36be4c82-4c87-40b3-863b-7571ce5fa532",
      "name": "Chunking"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        288
      ],
      "id": "c273227c-2003-4ffa-aa7e-e6661f8210a9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama_cpu:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify({\n    \"model\": \"llama3.2:1b\",\n    \"format\": \"json\",\n    \"stream\": false,\n    \"prompt\": \"You are an assistant that summarizes text and provides a title. Respond ONLY in this JSON format: {\\\"title\\\": \\\"string\\\", \\\"summary\\\": \\\"string\\\"}.\\n\\nDOCUMENT: The sun is hot.\\nRESPONSE: {\\\"title\\\": \\\"About the Sun\\\", \\\"summary\\\": \\\"The sun is a star known for its high temperature.\\\"}\\n\\nDOCUMENT:\\n\" + JSON.stringify($json.content).slice(1, -1) + \"\\nRESPONSE:\"\n  })\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        176
      ],
      "id": "23c0b0bd-9892-4b1b-bf2a-0db3db9d2b40",
      "name": "Ollama: Get Metadata"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check for File Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Chunking",
            "type": "main",
            "index": 0
          },
          {
            "node": "Ollama: Get Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Postgres": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Content Type": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove tags": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL": {
      "main": [
        [
          {
            "node": "Check Content Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine AI Results": {
      "main": [
        [
          {
            "node": "Save to Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for File Upload": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Get Embeddings": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking": {
      "main": [
        [
          {
            "node": "Ollama: Get Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Combine AI Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Get Metadata": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59038d7a1c6ed5a617f636bfecfe4415beb3eda0565597319a942949c093d1c7"
  }
}