n8n workflows/My workflow 5.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-note",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7326542d-a906-457d-bb2e-6eb6da9d39c6",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        304
      ],
      "webhookDescription": {
        "method": "POST",
        "path": "create-note",
        "responseMode": "onReceived"
      },
      "webhookId": "c7ba8f9e-8a79-40d1-843c-06798053f3e7"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://ollama:11434/api/generate",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ $json.ollama_body }}"
      },
      "id": "1f063661-f61f-4e81-81b0-08688a3bb15a",
      "name": "Ask Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        160,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7947c1fb-be97-4eb4-893c-fa02899f25cc",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2998fc9-55c8-4463-ab8e-fa9ad0a08ea6",
              "name": "ollama_body",
              "value": "={{\n  {\n    \"model\": \"gemma:2b\",\n    \"stream\": false,\n    \"prompt\": \"Summarize this note in one sentence: \" + $('Webhook').item.json.body.note\n  }\n}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        304
      ],
      "id": "e07038d8-e73a-4589-b02d-2a18c4adfc75",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6154e28d-215b-4733-b1b2-f195a1cbedd8",
              "name": "title",
              "value": "={{ $json.response.substring(0, 20) }}",
              "type": "string"
            },
            {
              "id": "47ea3da3-6940-4906-b5c9-00c7cfddbb68",
              "name": "content",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        304
      ],
      "id": "f720141a-72dd-4561-a6a3-73598b54228c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO notes (title, content)\nVALUES ('{{ $json.title.replace(\"'\", \"''\") }}', '{{ $json.content.replace(\"'\", \"''\") }}')\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        304
      ],
      "id": "1d55d67d-537f-48af-b22b-1557424cb7e3",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "NKxdhJobYtXb7TaZ",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Ollama": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Ask Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "23eef6e2-8c77-4198-b36a-d372c81b7b7a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c14dfb3452d9d2266966fd3e5a7fc22c997ff6e18196b19a034a57d243b7bc02"
  },
  "id": "nl8fClzTn0va2ZRB",
  "tags": []
}