n8n workflows/online search.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "online-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        64
      ],
      "id": "56386826-b9fe-4f24-b89c-0ee984e8ec80",
      "name": "Webhook",
      "webhookId": "410faf6b-a7dc-4410-a06c-7970ede64613"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        640,
        64
      ],
      "id": "4fdb41d5-3548-469c-b7d6-8d68944ed4ab",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f4247c3-fe3b-49a6-a338-40349104307e",
              "name": "question",
              "value": "={{ $json.body.question }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        64
      ],
      "id": "338696ae-ce00-4d14-b63d-bd8dde3e3709",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Please provide a comprehensive answer to the following question. Search the web for information and cite your sources clearly.\n\nQuestion: {{ $json.question }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        320,
        64
      ],
      "id": "7fb8ebf0-0541-4328-99d2-f6fb811f0918",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "ftv5dU9wcAcpFLNd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "59038d7a1c6ed5a617f636bfecfe4415beb3eda0565597319a942949c093d1c7"
  }
}